.side-nav-container {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: -80%;
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s ease;
  color: white;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.side-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: nowrap;
}

.side-nav-list-el{
  margin-left: 8%;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.icon{
  width: 25px;
  height: 25px;
}
